{% extends "layout/client-layout-template.html" %}
{% block body %}

<!-- Package Trip Option -->
<section class="package-trip-option" id="package-trip-option">
  <div class="container">
    <div class="row d-flex justify-content-center">

      {% for package_trip_options_data in package_trip_options_data %}
      <!-- Package Wisata -->
      <div class="card mb-3 tourism-package-card">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="{{ url_for('static', filename='images/test/services/18-Bali-jepunku-wisata-bogor-devoyage.jpg')}}" class="card-img" alt="...">
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h4 class="card-title">{{package_trip_options_data.package_trip_name}}</h4>
              <p class="card-text">{{package_trip_options_data.tag_line}}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body card-body-right">
              <p class="package-trip-rate-cond"><small class="text-muted">Harga berlaku minimum 5 dewasa</small></p>
              <h5 class="package-trip-rate-opt">Rp 3,070,000 per orang**</h5>
              <div class="row">
                <div class="col-md-6 package-trip-opt-button">
                  <a href="" class="btn btn-primary btn-view">Lihat Program</a>
                </div>
                <div class="col-md-6 package-trip-opt-button">
                  <a href="#" class="btn btn-primary btn-req">Permintaan</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Package Wisata -->
      {% endfor %}

    </div>
  </div>
</section>
<!-- /Package Trip Option -->

{% endblock %}
