
.logo a img{
  width: 100%;
  max-width: 105px;
  height: auto;
}

.main-menubar nav a{
  color: #8BC53D;
}

.main-menubar nav a:hover{
  color: #FF0062;
}

/* CONTACT FORM */
#contact h4{
  font-size: 30px;
}

/*
   *** PACKAGE TRIP CARD ***
*/

/* left side */
.content{
  background-color: #fafafa;
  padding: 5px;
}

.service-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 95%;
  max-width: 1500px;
  height: 180px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 50% 30%;
}

.service-card .service-card-left img {
  max-width: 220px;
  height: auto;
  padding: 5px;
  margin: 0
}



/* /left side */

/* middle side */
.service-card .service-card-desc {
  margin: 0;
  padding: 5px 10px 5px 10px;
}
/* /middle side */

/* right side */
.service-card-right{
  display: grid;
  grid-template-rows: 50% 50%;
}

.service-card-right .service-card-right-top .left{
  margin: 50% 0 0 0;
}

.service-card-right .service-card-right-bottom{
  display: grid;
  grid-template-columns: 50% 50%;
}

.service-card-middle .service-card-desc h4{
  font-size: 2vw;
}

.service-card-middle .service-card-desc p{
  font-size: 1vw;
  text-align: justify;
}

.service-card-right .service-card-right-top h3{
  font-size: 1vw;
  font-weight: normal;
}

.service-card-right .service-card-right-top p{
  font-size: 1.5vw;
  font-weight: bold;
}

.service-card-right .service-card-right-bottom .left{
  margin: 20% 0 0 0;
}

.service-card-right .service-card-right-bottom .right{
  margin: 20% 0 0 0;
}

/* /right side */


/*
   *** PACKAGE TRIP CARD ***
*/


/* Paket Wisata Card */
.tourism-package-card{
  max-width: 1500px;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title, .card-text{
  text-align: justify;
}

.package-trip-rate-cond{
  font-size: 1vw;
  padding-top: 3vw;
}

.package-trip-rate-opt{
  color: #777777;
  margin-bottom: 1vw;
}
/* /Paket Wisata Card */

/*
   *** /PACKAGE TRIP CARD ***
*/


/*
   *** BUTTON SECTION ***
*/

/* Button for Package Service Option */

.btn-view{
  background-color: #8BC53D;
  border: 1px solid #8BC53D;
  font-size: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-view:hover{
  background-color:#94d53d;
  border: 1px solid #94d53d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-req{
  background-color: #fafafa;
  border: 1px solid #fafafa;
  font-size: 1vw;
  color: #8BC53D;
  border: 1px solid #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-req:hover{
  background-color:#e4e4e4;
  border: 1px solid #e4e4e4;
  color: #8BC53D;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* /Button for Package Service Option */

/*
   *** /BUTTON SECTION ***
*/



/*
  *** TABLET SECTION OR IPAD
*/
@media screen and (max-width: 838px){

  .card .card-body .card-title,
  .card .card-body .card-text{
    text-align: center;
  }

  .card .card-body .package-trip-rate-cond{
    text-align: center;
    font-size: 2vw;
  }

  .card .card-body .package-trip-rate-opt{
    text-align: center;
    font-size: 3vw;
  }

  .card .card-body-right .package-trip-opt-button{
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .card .card-body-right .package-trip-opt-button .btn{
    width: 100%;
    font-size: 2vw;
  }

}

/*
  *** /TABLET SECTION OR IPAD
*/



/*
  *** PHONE
*/
@media screen and (max-width: 600px){

  /* service card */
  .package-trip-option
  .container
  .row
  .service-card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 35% 25%;
    height: 180vw;
    width: 85%;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-left{
    margin: 0;
    padding: 0;
  }


  .package-trip-option
  .container
  .row
  .service-card
  .service-card-middle
  {
    padding: 0;
    margin-top: 1vw;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-middle
  .service-card-desc
  {
    margin: 0;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-middle
  .service-card-desc
  h4
  {
    font-size: 5vw;
    text-align: center;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-middle
  .service-card-desc
  p
  {
    font-size: 4vw;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-right
  .service-card-right-top
  h3
  {
    font-size: 2vw;
    text-align: center;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-right
  .service-card-right-top
  p
  {
    font-size: 4vw;
    text-align: center;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-right
  .service-card-right-bottom
  {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-right
  .service-card-right-bottom
  .left
  {
    margin: 0;
    padding: 0;
  }


  .package-trip-option
  .container
  .row
  .service-card
  .service-card-right
  .service-card-right-bottom
  .left
  .btn-srv-itn
  {
    width: 90%;
    font-size: 4vw;
    text-align: center;
    margin: 0 20px 0 20px;
  }


  .package-trip-option
  .container
  .row
  .service-card
  .service-card-right
  .service-card-right-bottom
  .right
  {
    margin: 0;
    padding: 0;
  }

  .package-trip-option
  .container
  .row
  .service-card
  .service-card-right
  .service-card-right-bottom
  .right
  .btn-srv-req
  {
    width: 90%;
    font-size: 4vw;
    text-align: center;
    margin: 0 20px 0 20px;
  }


  /* Package Trip Option */

  .card .card-body .package-trip-rate-cond{
    font-size: 4vw;
  }

  .card .card-body .package-trip-rate-opt{
    font-size: 6vw;
  }

  .card .card-body-right .package-trip-opt-button .btn{
    width: 100%;
    font-size: 5vw;
  }





}
/*
  *** /PHONE
*/
