{% extends "layout/admin-layout-template.html" %}
{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Package Bracket Price Center: {{destination}} in <strong>{{country}}</strong>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/package-trip-setting/{{country}}/{{destination}}/{{trip_id}}/component/{{package_trip_id}}">Package Trip Component</a></li>
    <li class="active">Package Bracket Price</li>
  </ol>
</section>
<!-- /Content Header (Page header) -->

<!-- Main Content -->
<section class="content">
  <div class="row">
    <!-- Package Bracket Price Compnent Add Form -->
    <div class="col-md-12">

      <div class="box box-info">

        <!-- .box-header -->
        <div class="box-header with-border">
          <h3 class="box-title">Input Package Bracket Price</h3>
        </div>
        <!-- /.box-header -->

        <!-- form start -->
        {% from "includes/_formhelpers.html" import render_field %}
        <form class="form-horizontal" action="" method="POST">
          <!-- .box-body -->
          <div class="box-body">
            <div class="row">
              <div class="col-sm-2">
                <label for="min_pax">Minimum Pax </label>
                {{form.min_pax(class = "form-control")}}
              </div>
              <div class="col-sm-2">
                <label for="max_pax">Maximum Pax </label>
                {{form.max_pax(class = "form-control")}}
              </div>
              <div class="col-sm-2">
                <label for="price_per_person">Price Per Person</label>
                {{form.price_per_person(class="form-control")}}
              </div>
              <div class="col-sm-3">
                <label>Price Segment Type : </label>
                <select name="price_segment_id" class="form-control" style="width: 100%;">
                  {% for price_segment_data in price_segment_data %}
                  <option value="{{price_segment_data.price_segment_id}}">{{price_segment_data.segment_type}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-2">
                <dt><label></label></dt>
                <dd><button type="submit" class="btn btn-info">Add Package Bracket Price</button></dd>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
        <!-- form start -->

      </div>

    </div>
    <!-- /Package Bracket Price Compnent Add Form -->

    <!-- Package Price Table -->
    <div class="col-md-12">
      <div class="box">
        <!-- .box-header -->
        <div class="box-header">
          <h3 class="box-title">Package Bracket Price Table</h3>
        </div>
        <!-- /.box-header -->

        <!-- .box-body -->
        <div class="box-body">
          <table class="table table-border table-hover">
            <thead>
              <tr>
                <th>Pax Bracket</th>
                <th>Package Price</th>
                <th>Validity From</th>
                <th>Validity Until</th>
                <th>Activity</th>
              </tr>
            </thead>
            <tbody>
              {% for package_bracket_price_data in package_bracket_price_data %}
              <tr>
                <td>{{package_bracket_price_data.min_pax}} - {{package_bracket_price_data.max_pax}}</td>
                <td>{{ "Rp {:,.2f}".format(package_bracket_price_data.price_per_person) }}</td>
                <td>{{package_bracket_price_data.validity_date_start.strftime('%d-%B-%Y')}}</td>
                <td>{{package_bracket_price_data.validity_date_finish.strftime('%d-%B-%Y')}}</td>
                <td>
                  <a href="{{url_for('editPackageBracketPrice', country=country, destination=destination, trip_id=trip_id, package_trip_id=package_trip_id, rate_card_id=rate_card_id, package_bracket_price_id=package_bracket_price_data.package_bracket_price_id)}}" class="btn btn-success">Edit</a>
                </td>
                <td>
                  <form action="{{url_for('deletePackageBracketPrice', country=country, destination=destination, trip_id=trip_id, package_trip_id=package_trip_id, rate_card_id=rate_card_id, package_bracket_price_id=package_bracket_price_data.package_bracket_price_id)}}" method="post">
                    <input class="btn btn-danger confirmation_delete" type="submit" value="Delete">
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- .box-body -->
      </div>
    </div>
    <!-- /Package Price Table -->

  </div>
</section>

<!-- /Main Content -->

{% endblock %}
