{% extends "layout/admin-layout-template.html" %}
{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Package Trip Center: {{destination}} in <strong>{{country}}</strong>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/package-trip-setting/{{country}}">Select Destination : {{destination}}</a></li>
    <li><a href="/admin/package-trip-setting/{{country}}/{{destination}}/{{trip_id}}">Select Package: {{package_trip_data.package_trip_name}}</a></li>
    <li class="active">Component</li>
  </ol>
</section>

<!-- Main content -->

<section class="content">
  <div class="row">
    <!-- Package Trip Component Add Form -->
    <div class="col-md-12">

      <div class="box box-info">

        <!-- .box-header -->
        <div class="box-header with-border">
          <h3 class="box-title">Input Package Trip Component : {{package_trip_data.package_trip_name}}</h3>
        </div>
        <!-- /.box-header -->

        <!-- .box-body -->
        <div class="box-body">
          <br>
          <div class="row">
            <div class="col-sm-3">
              <a class="btn btn-info" href="/admin/package-trip-setting/{{country}}/{{destination}}/{{trip_id}}/component/{{package_trip_id}}/day-excursion">+ Day Excursion</a>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-info" href="#">+ Airport Transfer</a>
            </div>
            <div class="col-sm-3">
              <a class="btn btn-info" href="#">+ Sightseeing Transfer</a>
            </div>
          </div>
          <br>
        </div>
        <!-- /.box-body -->


        <!-- .box-footer -->
        <div class="box-footer">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Day No</th>
                <th>Name of Service</th>
                <th colspan="2" style="text-align: center;">Activity</th>
              </tr>
            </thead>
            <tbody>
              {% for component_data in component_data %}
              <tr>
                <td>{{component_data.day_no}}</td>
                <td>{{component_data.day_excursion_title}}</td>
                <td>
                  <a class="btn btn-primary" href="/admin/package-trip-setting/{{country}}/{{destination}}/{{trip_id}}/component/{{package_trip_id}}/day-excursion/edit/{{component_data.tr_package_trip_day_excursion_id}}">Edit Day No</a>
                </td>
                <td>
                  <form class="" action="{{url_for('componentPackageTripDeleteDayExcursion', country=country, destination=destination, trip_id=trip_id, package_trip_id=package_trip_id, tr_package_trip_day_excursion_id=component_data.tr_package_trip_day_excursion_id)}}" method="post">
                    <input type="submit" class="btn btn-danger confirmation_delete" value="Delete">
                  </form>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
        <!-- /.box-footer -->
      </div>


    </div>

    <!-- Package Trip Gallery  -->
    <div class="col-md-12">

      <div class="box box-info">
        <!-- .box-header -->
        <div class="box-header with-border">
          <h3 class="box-title">Package Trip Image Gallery</h3>
        </div>
        <!-- /.box-header -->

        <!-- box-body -->
        <div class="box-body">

          <form class="form-horizontal" action="{{url_for('uploadPackageTripImage', country=country, destination=destination, trip_id=trip_id, package_trip_id=package_trip_id)}}" method="POST" enctype="multipart/form-data" name="file">
            <label for="file">Select File</label>
            <input type="file" name="file" value="" required>
            <br>
            <button type="submit" class="btn btn-info" name="button">Add Image</button>
          </form>

        </div>
        <!-- /box-body -->

        <!-- box-footer -->
        <div class="box-footer">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Package Trip Image</th>
                <th colspan="2" style="text-align: justify;">Activity</th>
              </tr>
            </thead>
            <td>
              <img src="" alt="">
            </td>
            <td>

            </td>
          </table>
        </div>
        <!-- /box-footer -->


      </div>

    </div>

  </div>


</section>


{% endblock %}
